
.App {
  display: flex;
  justify-content:center;
  align-items: flex-start;
  padding: 20px;
}

.sort-btn{
  position: relative;
  right: 150px;
  top:20px
}

.sort-btn-container {
  text-align: center;
  margin: 10px;
}

.sort-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-btn:hover {
  background-color: #45a049;
}

.list-container {
  width: 400px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.disabled {
  color: gray;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0077A3;
}

